<nav id="navbar">
    <h1>Mongodemo</h1>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/showmongodata">Show mongodata!</a></li>
        </ul>
    </div>
</nav>